body {
	font-family: bannerFont;
}

/* font for the banner */
@font-face {
    font-family: bannerFont;
    src: url("../fonts/GlacialIndifference-regular.otf");
    font-weight: bold;
}

@font-face {
    font-family: bannerFontbold;
    src: url("../fonts/GlacialIndifference-bold.otf");
    font-weight: bold;
}

/* end fonts */

.banner {
	color: white;
	font-family: bannerFontbold;
	background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("../images/bookshelf.jpg");
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	height: 300px;
}

#banner_img {
	height: 200px;
	width: 200px;
	margin-left:40%;
	margin-top: 30px;
}

.main {
	margin-top: 20px;
}

#shop {
	display: block;
	text-align: center;
	margin-left: 31%;
}

#checkout {
	display: block;
	margin-left: 40%;
	text-align: center;
}

.sidebar {
	text-align: center;
	border-left: 3px solid;
	border-color: #DBDBDB;
}

.amt {
	float: right;
	font-family: bannerFontbold;
}

.tot {
	text-align: right;
}

.promo-contr {
	margin-top: 25px;
}