@import "base.css";

.banner {
    color: white;
    font-family: bannerFontbold, serif;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images/bookshelf.jpg");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 300px;
}

#banner_img {
    height: 200px;
    width: 200px;
    margin-left: 40%;
    margin-top: 30px;
}

#edit {
    float: right;
    margin: 15px;
}

.book_content {
    height: 500px;
}

#thumbnail {
    display: inline-block;
    width: 200px;
}

.book_content img {
    height: 200px;
    width: 200px;
    margin: 15px;
}

#primary_data {
    margin-left: 50px;
}

.col-10 ul {
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
}

.col-10 ul li {
    list-style: none;
    margin-top: 5px;
}

.details {
    margin-left: 35px;
}

#secondary li {
    display: inline-block;
    list-style: none;
    margin-right: 75px;
}

.sidebar {
    border: solid 5px;
    text-align: center;
    margin-top: 10px;
    padding-right: 10px;
    border-radius: 15px;
    border-color: #8FB4C4;
}

.sidebar p {
    margin-top: 10px;
}

.sidebar button {
    margin-top: 10px;
}

#reserve {
    margin-bottom: 15px;
}

.foot {
    margin-top: 15px;
    background: linear-gradient(rgba(205, 205, 205, 0.7), rgba(205, 205, 205, 0.7));
    position: fixed;
    bottom: 0;
    font-family: bannerFontbold, serif;
}

.nav-list {
    display: inline-block;
    right: 0;
    position: absolute;
    margin-right: 20px;
}

.nav-list-item {
    display: inline-block;
    list-style: none;
    font-size: 16px;
}

.nav-list-item:hover {
    opacity: .6;
}
