body {
	font-family: bannerFont;
}

/* font for the banner */
@font-face {
    font-family: bannerFont;
    src: url("../fonts/GlacialIndifference-regular.otf");
    font-weight: bold;
}

@font-face {
    font-family: bannerFontbold;
    src: url("../fonts/GlacialIndifference-bold.otf");
    font-weight: bold;
}

/* end fonts */

.banner {
	color: white;
	font-family: bannerFontbold;
	background-color: #545D68;
	height: 150px;
	text-align: center;
}

.banner h1 {
	margin-top: 30px;
}

.dropdown {
	margin-top: 10px;
}