@import "mixins/banner.css";

.banner {
    background-image: url("../images/bookshelf.jpg");
}

.main {
    margin-top: 20px;
}

#shop {
    /* display: block; */
    text-align: center;
    /* margin-left: 31%; */
}

#checkout {
    display: block;
    margin-left: 40%;
    text-align: center;
}

.sidebar {
    text-align: center;
    border-left: 3px solid;
    border-color: #DBDBDB;
}

.amt {
    float: right;
    font-family: GlacialIndifference-bold, sans-serif;
}

.amt_rem {
    float: left;
    font-family: GlacialIndifference-bold, sans-serif;
}

.remove_form {
    float: right;
}

.tot {
    text-align: right;
}

.promo-contr {
    margin-top: 25px;
}