.banner {
	height: 200px;
	background-color: #545D68;
	color: white;
	text-align: center;
}
div {
	font-family: bannerFont;
}
.banner h4 {
	font-size: 36pt;
	margin-top: 4.5%;
}

@font-face {
    font-family: bannerFont;
    src: url("../fonts/GlacialIndifference-regular.otf");
    font-weight: bold;
}

@font-face {
    font-family: bannerFontbold;
    src: url("../fonts/GlacialIndifference-bold.otf");
    font-weight: bold;
}

.table-cont {
	margin-top: 30px;
}

.title {
		text-align: center;
		
}