@import "mixins/banner.css";

.banner #profile-btn {
    margin-left: 92.5%;
    margin-top: 10px;
}

/* carousel style */
.item {
    display: none;
}

.control-box-left {
    display: inline-block;

}

.control-box-right {
    display: inline-block;
    margin-left: 7.5%;
}

.book_imgs {
    display: inline-block;
}

.span3 {
    display: inline-block;
}

.book_img {
    max-width: 100%;
    margin: 12%;
}

.book_elem {
    width: 200px;
    height: 200px;
}

.book_elem_port {
    height: 240px;
    width: 180px;
}

.center {
    text-align: center;
}

a {
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE7 */
    opacity: 0.6;
    text-decoration: none;
}

.carousel-container {
    background: #FFFFFF;
    margin: 20px;
}

::selection {
    background: #ff5e99;
    color: #FFFFFF;
    text-shadow: 0;
}

::-moz-selection {
    background: #ff5e99;
    color: #FFFFFF;
}

a, a:focus, a:active, a:hover, object, embed {
    outline: none;
}

:-moz-any-link:focus {
    outline: none;
}

input::-moz-focus-inner {
    border: 0;
}

.about-us {
    background-color: #545D68;
    color: white;
    height: 300px;

}

.about-us h4 {
    margin-top: 15px;
    margin-left: 15px;
}

.about-us p {
    margin-top: 10px;
    margin-left: 10px;
}