.banner {
    height: 200px;
    text-align: center;
    background-color: #545D68;
    color: white;
}

.banner h4 {
    margin-top: 5%;
    font-size: 36pt;
}
.reports {
    text-align: center;
}

.out-choice {
    margin-top: 25px;
    display: none;
}