.banner {
    height: 200px;
    text-align: center;
    background-color: #545D68;
    color: white;
}

.banner h4 {
    margin-top: 5%;
    font-size: 36pt;
}

@font-face {
    font-family: bannerFont;
    src: url("../fonts/GlacialIndifference-regular.otf");
    font-weight: bold;
}

@font-face {
    font-family: bannerFontbold;
    src: url("../fonts/GlacialIndifference-bold.otf");
    font-weight: bold;
}

div {
    font-family: bannerFontbold;
}

.reports {
    text-align: center;
}

.out-choice {
    margin-top: 25px;
    display: none;
}