.info_block {
    background-color: #F3F3F3;
}

#thumbnail {
    height: 250px;
    width: 200px;
    margin: 15px;
}

.vitals {
    margin-top: 30px;
}

#edit {
    float: right;
    display: inline-block;
    margin-top: 10px;
}

#delete {
    width: 50px;
    margin-left: 50px;
}

#block2 {
    margin-left: 20px;
    width: 300px;
}

.foot {
    margin-top: 15px;
    margin-left: -20px;
    margin-right: -15px;
    background: linear-gradient(rgba(205, 205, 205, 0.7), rgba(205, 205, 205, 0.7));
    position: fixed;
    bottom: 0;
    font-family: GlacialIndifference-bold, sans-serif;
    height: 60px;
}

.nav-list {
    display: inline-block;
    right: 0;
    position: absolute;
    margin-right: 20px;
}

.nav-list-item {
    display: inline-block;
    list-style: none;
    font-size: 16px;
    margin-top: -40px;
}

.nav-list-item:hover {
    opacity: .6;
}

/* carousel style */
.item {
    display: none;
}

.control-box-left {
    display: inline-block;

}

.control-box-right {
    display: inline-block;
    margin-left: 7.5%;
}

.book_imgs {
    display: inline-block;
}

.span3 {
    display: inline-block;
}

.book_img {
    max-width: 100%;
    margin: 12%;
}

.book_elem {
    width: 200px;
    height: 150px;
}

a {
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE7 */
    opacity: 0.6;
    text-decoration: none;
}

.carousel-container {
    background: #FFFFFF;
    margin: 20px;
}

::selection {
    background: #ff5e99;
    color: #FFFFFF;
    text-shadow: 0;
}

::-moz-selection {
    background: #ff5e99;
    color: #FFFFFF;
}

a, a:focus, a:active, a:hover, object, embed {
    outline: none;
}

:-moz-any-link:focus {
    outline: none;
}

input::-moz-focus-inner {
    border: 0;
}