#profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile {
    position: relative;
    display: inline-block;
    margin: auto;
}

#profile img {
    height: 200px;
    width: 200px;
}

#profile .btn {
    position: absolute;
    top: 0;
    right: 0;
}
