body {
	font-family: bannerFont;
}

/* font for the banner */
@font-face {
    font-family: bannerFont;
    src: url("../fonts/GlacialIndifference-regular.otf");
    font-weight: bold;
}

@font-face {
    font-family: bannerFontbold;
    src: url("../fonts/GlacialIndifference-bold.otf");
    font-weight: bold;
}

/* end fonts */

.banner {
	color: white;
	font-family: bannerFontbold;
	background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("../images/bookshelf.jpg");
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	height: 300px;
}

#banner_img {
	height: 200px;
	width: 200px;
	margin-left:40%;
	margin-top: 30px;
}

#edit {
	float: right;
	margin: 15px;
	display: none;
}


.book_content {
	height: 500px;
}

#thumbnail {
	display: inline-block;
	width: 200px;
}

.book_content img {
	height: 200px;
	width: 200px;
	margin: 15px;
}

#primary_data {
	margin-left: 50px;
}
.col-md-9 ul {
	display: inline-block;
	margin-top: 15px;
	margin-left: 10px;
}

.col-md-9 ul li {
	list-style: none;
	margin-top: 5px;
}

.details {
	margin-left: 35px;
}

#secondary li {
	display: inline-block;
	list-style: none;
	margin-right: 75px;
}

.sidebar {
	border: solid 5px;
	text-align: center;
	margin-top: 10px;
	padding-right: 10px;
	border-radius: 15px;
	border-color: #DBDBDB;
	background-color: white;
}

.sidebar p {
	margin-top: 10px;
}

.sidebar button {
	margin-top: 10px;
}

#reserve {
	margin-bottom: 15px;
}

.foot {
	margin-top: 15px;
	height: 60px;
	background: linear-gradient(rgba(205,205,205,0.7), rgba(205,205,205,0.7));
	position: absolute;
	margin-right: -30px;
	margin-left: -30px;
	bottom: 0;
	font-family: bannerFontbold;
	overflow: hidden;
	
}

.nav-list {
	display: inline-block;
	right:0;
	bottom: -17px;
	position: absolute;
	margin-right: 20px;
}

.nav-list-item {
	display: inline-block;
	list-style: none;
	font-size: 16px;
	margin-bottom: 20px;
}

.nav-list-item:hover {
	opacity: .6;
	color: #8FB4C4;
}
