{% extends "base.html" %}

{% load static %}

{% block per_page_css %}
    <link rel="stylesheet" href="{% static 'css/terminal-main.css' %}">
{% endblock %}

{% block main_content %}

    <div class="container-fluid banner">
        <div class="row">
            <div class="col-md-12">
                <h4>Admin Terminal</h4>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h4>Modify:</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        <button class="btn-sm btn-dark">Manage Books</button>
                    </li>
                    <li class="list-group-item">
                        <button class="btn-sm btn-dark">Manage Users</button>
                    </li>
                    <li class="list-group-item">
                        <button class="btn-sm btn-dark">Manage Promotions</button>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4>Reports:</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        <button class="btn-sm btn-dark">End Of Day</button>
                    </li>
                    <li class="list-group-item">
                        <button class="btn-sm btn-dark">Monthly Report</button>
                    </li>
                    <li class="list-group-item">
                        <button class="btn-sm btn-dark">User Report</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid out-choice">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Append based on selection</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Append based on selection</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <p> Slug: {{ slug }}</p> <!-- this will be passed in the url -->

{% endblock main_content %}