{% extends "base.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="assets/Cart/css/cart-main.css"/>
{% endblock stylesheet %}

{% block main_content %}

    <body>
    <div class="container-fluid banner">
        <div class="row">
            <div class="col">
                <img id="banner_img" src="assets/Book/images/dogear.jpg"/>
            </div>
        </div>
    </div>
    <div class="container-fluid main">
        <div class="row">
            <div class="col-md-8">
                <form>
                    <ul class="list-group">
                        <li class="list-group-item">Item 1: <span class="amt">$X.XX</span></li>
                        <li class="list-group-item">Item 2: <span class="amt">$X.XX</span></li>
                        <li class="list-group-item">Item 3: <span class="amt">$X.XX</span></li>
                        <li class="list-group-item">Item 4: <span class="amt">$X.XX</span></li>
                        <li class="list-group-item tot">Total: &nbsp;&nbsp;<span class="amt">$X.XX</span></li>
                    </ul>
                </form>
            </div>
            <div class="col-4 sidebar">
                <button id="checkout" class="btn-lg btn-dark"> CheckOut</button>
                <br>
                <button id="shop" class="btn-lg btn-dark"> Continue Shopping</button>
                <hr>


                <h4>Similar Items:</h4>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    </body>

{% endblock main_content %}