{% extends "base.html" %}

{% load static %}
{% load unit_price %}
{% load total_price %}

{% block per_page_css %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock per_page_css %}

{% block jquery %}
    <script>
        const clientToken = "{{ client_token }}";
        braintree.setup(clientToken, "dropin", {
            container: "payment-form"
        });
    </script>
{% endblock jquery %}

{% block main_content %}
    <!-- send user instance as object, populate the page with it -->
    <div class="container-fluid main_content">
        <div class="row banner">
            <div class="col-md-12">
                <h3> Order Summary </h3>
            </div>
        </div>
    </div>

    <div class="container confirm">
        <div class="row">
            <table class="table table-light table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Item</th>
                        <th>Per Book Price</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in cart %}
                        <tr>
                            <th scope="row">{{ item.book.name }}</th>
                            <th>${{ item.price }}</th>
                            <th>{{ item.count }}</th>
                            <th id="amount 1">${% unit_price item.price item.count %}</th>
                        </tr>
                    {% endfor %}
                <tbody>
            </table>
        </div>
        <div class="row" style="text-align: center">
			<div class="offset-md-3 col-md-6">
					<form id="checkout" method="post" action="submit/"> {% csrf_token %}
					<ul class="list-group">
						<li class="list-group-item">
							<h3>Shipping Address:</h3>
							<input type="text" name="new_address" placeholder="New Address">
							Save: <input type="checkbox" name="save_address"> <br>

                            <hr>

							<fieldset class="spaced">
								<legend>Saved Addresses:</legend>
								{% for address in request.user.member.saved_addresses.all %}
									<ul class="list-group">
										<li class="list-group-item list-group-item-info">
											<input type="radio" name="location" value="{{ address.location }}">{{ address.location }}
										</li>
                                        <br>
									</ul>
								{% endfor %}
							</fieldset>
						</li>

                        <hr>

						<li class="list-group-item">
							<div id="payment-form"></div>
						</li>
						<li class="list-group-item center">
							<div class="checkout_cont">
								<input class="btn btn-sm btn-dark" type="submit" value="Submit Order">
                                <a href="{% url 'cart:cart' %}"><button type="button" class="btn btn-sm btn-dark">Return to Cart</button></a>
							</div>
						</li>
					</ul>
				</form>
			</div>
        </div>
    </div>

{% endblock main_content %}