{% extends "base.html" %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static "css/create-acct-main.css" %}">
{% endblock stylesheet %}

{% block main_content %}

    <body>
    <div class="container-fluid banner">
        <div class="row">
            <div class="col-md-6">
                <img id="banner_img" src="{% static "images/dogear.jpg" %}"/>
            </div>
            <div class="col-6">
                <h3>Create your Dog-Ear account</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="offset-4 col-md-8">
                <form>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Firstname:
                            <input class="inputbox" type="text" value="Firstname" name="firstname"/><br></li>
                        <li class="list-group-item">
                            Lastname:
                            <input class="inputbox" type="text" value="Lastname" name="lastname"/></li>
                        <li class="list-group-item">
                            Email:
                            <input class="inputbox" type="text" value="Email Address" name="email"/><br></li>
                        <li class="list-group-item">
                            Street Address:
                            <input class="inputbox" value="Street Address" type="text" name="address"/></li>
                        <li class="list-group-item">
                            DOB:
                            <input class="inputboxSpec" id="Month" value="MM" type="text" name="Month"/>
                            <input class="inputboxSpec" id="Day" value="DD" type="text"
                                   name="Day"/>
                            <input class="inputboxSpec" id="Year" value="YYYY" type="text" name="Year"/><br></li>
                        <li class="list-group-item">
                            Password:
                            <input class="inputbox" value="Password" type="password" name="password"/></li>
                        <li class="list-group-item">
                            Re-enter Password:
                            <input class="inputbox" value="Password" type="password"
                                   name="password_confirm"/></li>
                        <li class="list-group-item">
                            Receive our Newsletter:
                            <input class="inputbox" type="checkbox" name="password_confirm"/></li>
                        <li class="list-group-item">
                            User-type:
                            <select class="inputbox" name="account_type">
                                <option value="vendor">Vendor</option>
                                <option value="buyer">Buyer</option>
                            </select>
                        </li>
                        <div class="profile_pic">
                            <img id="profile_img" src="{% static "images/placeholder.jpg" %}" alt=""/><input
                                class="btn-sm btn-dark" id="browse" type="file" id="myFile"/>
                        </div>
                        <input class="btn-sm btn-dark" id="submit" type="submit" value="Submit">
                    </ul>
                </form>
            </div>
        </div>
    </div>
    </body>

{% endblock main_content %}