{% extends "base.html" %}

{% load static %}
{% load form_tags %}
{% load widget_tweaks %}

{% block per_page_css %}
    <link rel="stylesheet" href="{% static 'css/edit_account.css' %}">
{% endblock %}

{% block main_content %}

    <form action="{% url 'members:edit' %}" method="post" class="form-signin" enctype='multipart/form-data'>
        <h1 class="h3 mb-3 font-weight-normal">Edit Account</h1>

        {% csrf_token %}
        {{ user_form.non_field_errors }}
        {{ member_form.non_field_errors }}

        {% for field in user_form %}
            <div class="form-label-group">
                {% render_field field class="form-control" placeholder=field.label %}
                {{ field.label_tag }}
                {{ field.errors }}
                {% if field.help_text %}
                    <small class="form-text text-muted">
                        {{ field.help_text | safe }}
                    </small>
                {% endif %}
            </div>
        {% endfor %}

        {% for field in member_form %}
            {% if field|is_field:'CheckboxInput' %}
                <div class="form-check mb-3">
                    <label for="{{ member_form.receive_newsletter.id_for_label }}" class="form-check-label">
                        {{ member_form.receive_newsletter|add_class:"form-check-input" }}
                        {{ member_form.receive_newsletter.label }}
                    </label>
                    {{ field.errors }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">
                            {{ field.help_text | safe }}
                        </small>
                    {% endif %}
                </div>
            {% elif field|is_field:'ClearableFileInput' %}
                <div class="form-label-group">
                    {#                    {% render_field field class="form-control-file" %}#}
                    <input type="file" id="{{ field.id_for_label }}" class="form-control" name="{{ field.name }}"/>
                    {{ field.label_tag }}
                    {{ field.errors }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">
                            {{ field.help_text | safe }}
                        </small>
                    {% endif %}
                </div>
            {% else %}
                <div class="form-label-group">
                    {% render_field field class="form-control" placeholder=field.label %}
                    {{ field.label_tag }}
                    {{ field.errors }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">
                            {{ field.help_text | safe }}
                        </small>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}

        <input type="submit" class="btn btn-primary" value="Save"/>

    </form>

    <div class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Danger Zone</h1>
        Get a new password.
        <br>
        <a id="reset" href="{% url 'members:reset_password_request' %}">
            <button class='btn btn-default'>Reset Password</button>
        </a>
        <br>
        Permanently delete your account (this cannot be undone).
        <br>
        <a id="delete" href="{% url 'members:delete' %}">
            <button class='btn btn-danger'>Delete Account</button>
        </a>
    </div>


{% endblock main_content %}