{% extends "base.html" %}

{% load static %}
{% load eod_total %}

{% block per_page_css %}
	<link rel="stylesheet" href="{% static 'css/terminal.css' %}">
{% endblock %}

{% block main_content %}
    <div class="container-fluid banner">
		<div class="row">
			<div class="col-md-12">
				<h3>End of Day Reports</h3>
			</div>
		</div>
	</div>
	<div class="container pad-top">
        <div class="row">
            <table class="table table-light table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Date</th>
                        <th>Total Sold</th>
                    </tr>
                </thead>

                <tbody>
                    {% for report in reports %}
                        <tr class="clickable-row" data-href="{{ report.get_absolute_url }}">
                            <th scope="row">{{ report.date }}</th>
                            <th>${% eod_total report %}</th>
                        </tr>
                    {% endfor %}
                <tbody>
            </table>
        </div>

        <a href="{% url "analytics:reports_overview" %}"><button>Back to Reports Overview</button></a>

    </div>

{% endblock main_content %}

{% block jquery %}

    <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>

{% endblock %}