{% extends "base.html" %}

{% load static %}
{% load home_page_tags %}

{% block per_page_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock per_page_css %}

{% block main_content %}

    <div class="container-fluid banner">
        <img src="{% static 'images/dogear.jpg' %}"/>
    </div>

    <div class="container">
        <h1 class="text-center mb-3 mt-3">New Releases</h1>
        <div class="row flex-row flex-nowrap overflow-x-auto">
            {% for book in new_books %}
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card">
                        <a href="{% url 'books:detail' book.slug %}">
                            <img class="card-img-top" src="{{ book.item_picture.url }}" alt="{{ book.name }}">
                        </a>
                        <div class="card-body">
                            <a href="{% url 'books:detail' book.slug %}">
                                <h3 class="card-title">{{ book.name }}</h3>
                            </a>
                            <h5 class="card-subtitle">{{ book.author }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <h1 class="text-center mb-3 mt-3">Featured Authors</h1>
        <div class="row flex-row flex-nowrap overflow-x-auto">
            {% for author in latest_authors %}
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'images/img.png' %}" alt="{{ author.name }}">
                        <div class="card-body">
                            <h3 class="card-title">{{ author.name }}</h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


        <h1 class="text-center mb-3 mt-3">Genres</h1>
        <div class="row flex-row flex-nowrap overflow-x-auto">
            {% for genre in genres %}
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'images/img.png' %}" alt="{{ genre.subjects }}">
                        <div class="card-body">
                            <h3 class="card-title">{{ genre.subjects }}</h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid about-us mt-4">
        <div class="row">
            <div class="col-md-12">
                <h4>About Us:</h4>
                <p>We are an e-commerce bookstore that allows vendors to connect with customers
                    and sell books with ease. We were a brick and mortar store that took to the
                    web as a sales platform. By focusing on what we do best we can make sure that
                    your experience is the best possible. </p>
            </div>
        </div>
    </div>
{% endblock main_content %}

