{% extends "base.html" %}

{% load static %}

{% block per_page_css %}
	<link rel="stylesheet" href="{% static 'css/terminal.css' %}">
{% endblock %}

{% block main_content %}


    <div class="container-fluid banner">
		<div class="row">
			<div class="col-md-12">
				<h3>Low Inventory Report</h3>
			</div>
		</div>
	</div>
	<div class="container pad-top">
        <div class="row">
            <table class="table table-light table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Author</th>
                        <th>ISBN</th>
                        <th>Vendor</th>
                        <th>Price</th>
                        <th>Stock</th>
                    </tr>
                </thead>

                <tbody>
                    {% for book in report.low_inventory_books.all %}
                        <tr class="clickable-row" data-href="{{ book.get_absolute_url }}">
                            <th><img class="img-responsive" src="{{ book.item_picture.url }}"/></th>
                            <th>{{ book.name }}</th>
                            <th>{{ book.author }}</th>
                            <th>{{ book.isbn }}</th>
                            <th>{{ book.vendor }}</th>
                            <th>${{ book.price }}</th>
                            <th>{{ book.count_in_stock }}</th>
                        </tr>
                    {% endfor %}
                <tbody>
            </table>
        </div>

        <a href="{% url "analytics:reports_overview" %}"><button>Back to Reports Overview</button></a>

    </div>

{% endblock main_content %}

{% block jquery %}

    <script>

        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>

{% endblock %}