{% extends "base.html" %}
{% load unit_price total_price %}

{% block main_content %}
    <!-- send user instance as object, populate the page with it -->
    <p> Order Detail Page</p>
    <p>Order Confirmation Number: {{ order.confirmation_number }}</p>

    {% if reservation %}
        <p>Item reserved for up to 5 days. Payment at vendor location in cash, check, or card must be completed before
            deadline. </p>
        <p>Available for pickup at specified Vendor(s) location:</p>
    {% endif %}

    <ul>
        {% for item in items %}
            <li>
                <ul style="list-style-type: none">
                    <li>Vendor: {{ item.book.vendor }}</li>
                    <li>Title: {{ item.book }}</li>
                    <li>Price: ${% unit_price item.count item.price %}</li>
                    <li>Number Ordered: {{ item.count }}</li>
                    <br>
                </ul>
            </li>
        {% endfor %}
        <li>Total: ${% total_price items %}</li>
    </ul>

{% endblock main_content %}