{% extends "base.html" %}

{% load static %}

{% block per_page_css %}
    <link rel="stylesheet" href="{% static 'css/terminal-main.css' %}">
{% endblock per_page_css %}

{% block main_content %}

    <div class="container-fluid banner">
        <div class="row">
            <div class="col-md-12">
                <h4>Owner Terminal</h4>
            </div>
        </div>
    </div>

    <div class="container-fluid reports">
        <div class="row">
            <div class="col-md-12">
                <h4>Reports:</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        <button class="btn-sm btn-dark">End Of Day</button>
                    </li>
                    <li class="list-group-item">
                        <button class="btn-sm btn-dark">Low Inventory</button>
                    </li>
                    <li class="list-group-item">
                        <button class="btn-sm btn-dark">Book Sales</button>
                    </li>
                    <li class="list-group-item">
                        <button class="btn-sm btn-dark">Publisher Sales</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock main_content %}