{% extends "base.html" %}

{% load static %}

{% block per_page_css %}
    <link rel="stylesheet" href="{% static 'css/query.css' %}">
{% endblock per_page_css %}

{% block main_content %}
    <!-- send user instance as object, populate the page with it -->
    <div class="container-fluid spaced">
        <div class="row banner">
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 search_panel">
                {% if request.path|slice:":8" == "/vendor/" %}
                    <div style="text-align: center">
                        <a href="{% url "vendors:add_book" %}"><button class="btn-lg btn-dark">Add New Book</button></a>
                        <hr>

                        {% if active_books %}
                            <a href="{% url "vendors:inactive" %}"><button class="btn-lg btn-dark">View Inactive Books</button></a>
                        {% else %}
                            <a href="{% url "vendors:vendor" %}"><button class="btn-lg btn-dark">View Active Books</button></a>
                        {% endif %}
                        <hr>
                        <a href="{% url "vendors:mass_add" %}"><button class="btn-lg btn-dark">Mass Add Authors, Genres, and Publishers</button></a>
                        <hr>
                        <a href="{% url "vendors:request_code" %}"><button class="btn-lg btn-dark">Request Verification Code</button></a>
                        <hr>
                    </div>
                {% endif %}
                <form>
                    <input type="hidden" name="q" value="{{ request.GET.q }}"/>

                    <fieldset class="spaced">
                        <legend>Genre:</legend>
                        <select name="genre">
                            <option name="Null" value="">-- Select A Genre --</option>

                            {% for genre in genres %}
                                <option {% if genre.subjects == request.GET.genre %} selected {% endif %}>{{ genre.subjects }}</option>
                            {% endfor %}
                        </select>
                    </fieldset>

                    <hr>

                    <fieldset class="spaced">
                        <legend>Price:</legend>
                        <input type="checkbox" {% if request.GET.zero_to_ten %} checked {% endif %} name="zero_to_ten" value="0"> $0-$10</input><br>
                        <input type="checkbox" {% if request.GET.ten_to_twenty %} checked {% endif %} name="ten_to_twenty" value="10"> $10-$20</input><br>
                        <input type="checkbox" {% if request.GET.twenty_to_thirty %} checked {% endif %} name="twenty_to_thirty" value="20"> $20-$30</input><br>
                        <input type="checkbox" {% if request.GET.thirty_plus %} checked {% endif %} name="thirty_plus" value="30"> $30+</input><br>
                    </fieldset>

                    <hr>

                    <fieldset class="spaced">
                        <legend>Author:</legend>
                        <select name="author">
                            <option name="Null" value="">-- Select An Author --</option>

                            {% for author in authors %}
                                <option {% if author.name == request.GET.author %} selected {% endif %}>{{ author.name }}</option>
                            {% endfor %}
                        </select>
                    </fieldset>

                    <hr>

                    <fieldset class="spaced">
                        <input type="submit" value="Refine Search"/>
                    </fieldset>
                </form>

            <form>
                <input type="hidden" name="q" value="{{ request.GET.q }}"/>
                <input type="submit" value="Clear Filters"/>
            </form>

            </div>
            <div class="col-md-6">
                {% if books %}
                    <table class="table table-light table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>Your Search Results:</th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Vendor</th>
                                <th>Price</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for book in books %}
                                {% if request.path|slice:":8" == "/vendor/" %}
                                    <tr class="clickable-row" data-href="/vendor{{ book.get_absolute_url }}">
                                {% else %}
                                    <tr class="clickable-row" data-href="{{ book.get_absolute_url }}">
                                {% endif %}
                                    <th scope="row"><img class="thumbnail" src="{{ book.item_picture.url }}"/></th>
                                    <th><p>{{ book.name }}</p></th>
                                    <th><p>{{ book.author }}</p></th>
                                    <th><p>{{ book.vendor }}</p></th>
                                    <th><p>${{ book.price }}</p></th>
                                </tr>
                            {% endfor %}
                        <tbody>
                    </table>
                {% else %}
                    <p>No books could be found for the query.</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock main_content %}

{% block jquery %}

    <script>

        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>

{% endblock %}