{% extends 'base.html' %}

{% block main_content %}

    {% if messages %}
        <div class='messages'>
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{message.tags}}" {% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <h1>Password Reset</h1>
    <p>Please enter your email below. We will send you a link to reset your password.</p>
    <form method="POST" action="{% url 'members:reset_password_form' %}" method="post" class="form-signin"> {% csrf_token %}
        {{ reset_request_form.as_p }}
        <input type="submit" class="btn-lg btn-dark" value="Send Code to Email">
    </form>
{% endblock %}