{% extends "base.html" %}

{% load static %}

{% block per_page_css %}
    <link rel="stylesheet" href="{% static 'css/user-profile.css' %}">
{% endblock %}

{% block main_content %}

    <!-- send user instance as object, populate the page with it -->
    <div class="container-fluid">

        <div class="row info_block">
            <div class="col-md-4">
                <img src="{{ member.profile_picture.url }}" id="thumbnail" alt="User_Profile_image"/>
            </div>

            <div class="col-md-4">
                <ul class="vitals list-group">
                    <li class="list-group-item">Name: {{ member.user.first_name }} {{ member.user.last_name }}</li>
                    <li class="list-group-item">Email: {{ member.user.email }}</li>
                    <li class="list-group-item">Date of Birth: {{ member.birth_date }}</li>
                </ul>
            </div>

            <div class="col-md-4">
                <a href="{% url 'members:edit' %}"><button id="edit" class="btn-sm btn-dark"> &nbsp<i class="fas fa-edit"></i></button></a>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <table class="table table-light table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>ISBN</th>
                        <th>Price per Unit</th>
                    </tr>
                </thead>

                <tbody>
                    {% for book in books_owned %}
                        <tr class="clickable-row" data-href="{{ book.get_absolute_url }}">
                            <th scope="row">{{ book.name }}</th>
                            <th>{{ book.author }}</th>
                            <th>{{ book.isbn }}</th>
                            <th id="amount 1">${{ book.price }}</th>
                        </tr>
                    {% endfor %}
                <tbody>
            </table>

        <div class="row">
            <table class="table table-light table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Confirmation ID</th>
                        <th>Date</th>
                        <th>Total</th>
                        <th>Reservation</th>
                        <th>Payment Processed</th>
                    </tr>
                </thead>

                <tbody>
                    {% for order in orders %}
                        <tr class="clickable-row" data-href="{{ order.get_absolute_url }}">
                            <th scope="row">{{ order.confirmation_number }}</th>
                            <th>{{ order.date }}</th>
                            <th>${{ order.price }}</th>
                            {% if order.reservation %}
                                <th id="amount 1"><i class="far fa-check-square"></i></th>
                            {% else %}
                                <th id="amount 1"><i class="far fa-times-circle"></i></th>
                            {% endif %}

                            {% if order.is_fulfilled %}
                                <th id="amount 1"><i class="far fa-check-square"></i></th>
                            {% else %}
                                <th id="amount 1"><i class="far fa-times-circle"></i></th>
                            {% endif %}
                        </tr>
                    {% endfor %}
                <tbody>
            </table>
        </div>
    </div>

{% endblock main_content %}

{% block jquery %}

    <script>

        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>

{% endblock %}