{% extends "base.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="assets/User-Profile/css/user-profile-main.css">
{% endblock stylesheet %}

{% block main_content %}

    <!-- send user instance as object, populate the page with it -->
    <body>
    <div class="container-fluid">
        <div class="row info_block">
            <div class="col-md-4">
                <img src="assets/User-Profile/images/book_store.jpg" id="thumbnail" alt="User_Profile_image"/>
            </div>
            <div class="col-4">
                <ul class="vitals list-group">
                    <li class="list-group-item">Name:</li>
                    <li class="list-group-item">Email:</li>
                    <li class="list-group-item">DoB:</li>
                    <ul>
            </div>
            <div class="col-4">
                <button id="edit" class="btn-sm btn-dark"> &nbsp<i class="fas fa-edit"></i></button>
            </div>
        </div>
    </div>
    <div class="container-fluid carousel-container">
        <div class="row purchases">
            <div class="col-12">
                <h3>Purchases:</h3>
                <div class="span12">
                    <div class="carousel slide" id="purCarousel">
                        <div class="item-active">
                            <div class="control-box-left">
                                <a data-slide="prev" href="myCarousel" class="carousel-control left"><i
                                        class="fas fa-3x fa-chevron-left"></i></a>
                            </div>
                            <ul class="book_imgs">
                                <li class="span3">
                                    <div class="book_img">
                                        <a href="#"><img class="book_elem"
                                                         src="assets/User-Profile/images/library.jpg"/></a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="book_img">
                                        <a href="#"><img class="book_elem"
                                                         src="assets/User-Profile/images/library.jpg"/></a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="book_img">
                                        <a href="#"><img class="book_elem" src="assets/User-Profile/images/library.jpg"
                                                         img></a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="book_img">
                                        <a href="#"><img class="book_elem"
                                                         src="assets/User-Profile/images/library.jpg"/></a>
                                    </div>
                                </li>
                            </ul>
                            <div class="control-box-right">
                                <a data-slide="next" href="#myCarousel" class="carousel-control right"><i
                                        class="fas fa-3x fa-chevron-right"></i></a>
                            </div>
                        </div>
                        <div class="item">
                            <ul class="book_imgs">
                                <li class="span3">
                                    <div class="book_img">
                                        <a href="#"><img class="book_elem"
                                                         src="assets/User-Profile/images/library.jpg"/></a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="book_img">
                                        <a href="#"><img class="book_elem"
                                                         src="assets/User-Profile/images/library.jpg"/></a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="book_img">
                                        <a href="#"><img class="book_elem"
                                                         src="assets/User-Profile/images/library.jpg"/></a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="book_img">
                                        <a href="#"><img class="book_elem"
                                                         src="assets/User-Profile/images/library.jpg"/></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="item">
                            <ul class="book_imgs">
                                <li class="span3">
                                    <div class="book_img">
                                        <a href="#"><img class="book_elem"
                                                         src="assets/User-Profile/images/library.jpg"/></a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="book_img">
                                        <a href="#"><img class="book_elem"
                                                         src="assets/User-Profile/images/library.jpg"/></a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="book_img">
                                        <a href="#"><img class="book_elem"
                                                         src="assets/User-Profile/images/library.jpg"/></a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="book_img">
                                        <a href="#"><img class="book_elem"
                                                         src="assets/User-Profile/images/library.jpg"/></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row orders">
            <div class="col-12">
                <div class="span12">
                    <h3>Orders:</h3>
                    <div class="carousel slide" id="purCarousel">
                        <div class="item-active">
                            <div class="control-box-left">
                                <a data-slide="prev" href="#myCarousel" class="carousel-control left"><i
                                        class="fas fa-3x fa-chevron-left"></i></a>
                            </div>
                            <ul class="book_imgs">
                                <li class="span3">
                                    <div class="book_img">
                                        <a href="#"><img class="book_elem"
                                                         src="assets/User-Profile/images/library.jpg"/></a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="book_img">
                                        <a href="#"><img class="book_elem"
                                                         src="assets/User-Profile/images/library.jpg"/></a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="book_img">
                                        <a href="#"><img class="book_elem" src="assets/User-Profile/images/library.jpg"
                                                         img></a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="book_img">
                                        <a href="#"><img class="book_elem"
                                                         src="assets/User-Profile/images/library.jpg"/></a>
                                    </div>
                                </li>
                            </ul>
                            <div class="control-box-right">
                                <a data-slide="next" href="#myCarousel" class="carousel-control right"><i
                                        class="fas fa-3x fa-chevron-right"></i></a>
                            </div>
                        </div>
                        <div class="item">
                            <ul class="book_imgs">
                                <li class="span3">
                                    <div class="book_img">
                                        <a href="#"><img class="book_elem"
                                                         src="assets/User-Profile/images/library.jpg"/></a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="book_img">
                                        <a href="#"><img class="book_elem"
                                                         src="assets/User-Profile/images/library.jpg"/></a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="book_img">
                                        <a href="#"><img class="book_elem"
                                                         src="assets/User-Profile/images/library.jpg"/></a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="book_img">
                                        <a href="#"><img class="book_elem"
                                                         src="assets/User-Profile/images/library.jpg"/></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="item">
                            <ul class="book_imgs">
                                <li class="span3">
                                    <div class="book_img">
                                        <a href="#"><img class="book_elem"
                                                         src="assets/User-Profile/images/library.jpg"/></a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="book_img">
                                        <a href="#"><img class="book_elem"
                                                         src="assets/User-Profile/images/library.jpg"/></a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="book_img">
                                        <a href="#"><img class="book_elem"
                                                         src="assets/User-Profile/images/library.jpg"/></a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="book_img">
                                        <a href="#"><img class="book_elem"
                                                         src="assets/User-Profile/images/library.jpg"/></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row others">
                <div class="col-12">
                    <ul class="list-group" id="block2">
                        <li class="list-group-item">Change Password:</li>
                        <li class="list-group-item">Newsletter:</li>
                        <li class="list-group-item">Delete:
                            <button id="delete" class="btn-sm btn-dark center"><i class="fas fa-trash-alt"></i></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <nav class="foot navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top"
                     alt="">
                <ul class="nav-list">
                    <li class="nav-list-item"></li>
                    <li class="nav-list-item">Back to Top</li>
                </ul>
            </a>
        </nav>
    </body>
    <p> Slug: {{ slug }}</p> <!-- this will be passed in the url -->

{% endblock main_content %}